.catering {
    width: 1280px;
    min-height: 1910px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #FFFFFF;
    border-radius: 0 0 40px 40px;
    
}

.catering-top, .catering-services {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.catering-top {
    align-items: center;
}



.catering-top__header {
    padding: 96px 0 0 72px;
    width: 638px;
    font-family: 'Inter', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.77px;
    text-align: left;
    color: #FF4949;
}

.catering-top__header span {
    color: #FFFFFF;
}

.catering-ad-list {
    list-style: none;
    padding: 0 87px 0 114px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.catering-ad-item {
    width: 333px;
    height: 183px;
    padding: 28px 30px 28px 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 20px;
    opacity: 0px;
    background-color: #3C82FF;
}

.catering-services {
    padding-left: 129px;
}

.catering-services-form {
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.btn-catering {
    width: 426px;
    height: 54px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'MorfinSans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    background-color: #3C82FF;
    color: #FFFFFF;
    align-self: center;
}

.catering-services-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.catering-services-item {
    width: 500px;
    height: 750px;
    
    border-radius: 40px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.catering-services-item img {
    border-radius: 40px 40px 0 0;
}

.catering-services-item-text {
    list-style: none;
    padding-left: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.catering-services-item__header {
    height: 35px;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    color: #3C82FF;
}

.catering-services-item__subheader {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24.2px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.catering-services-item__subheader-header {
    font-weight: 600;
    color: #FF4949;
}

.catering-services-item__subheader-list {
    font-weight: 400;
    color: #000000;
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1.5em;
}

.catering-services-item__subheader-header {
    margin-top: 8px;
}